h1{
	color: Navy blue;
	font-family: Yanone Kaffeesatz, Titillium Web; 
	padding-left: 100px;
	border-width: 5px;
	border-style:outset;
	border-color:#23033C
}
body {
background-color: #9882A8;
}

li {
    display: inline;
}

a {
    display: block;
    width: 60px;
}
nav ul li a{ padding: 0.2em 1em;
background-color: #C1B6C9
border-right: 1px solid #fff;
}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding-top:0;
  margin-top:0;
  padding-left: 0;
  margin-left: 0;
  color:white;
  border-bottom: 1px #BCD0DC;
  border-top: 1 px #BCD0DC;
  float:left;
  width:100%;
  
  
}
nav ul li a {
      display: block;
	  background-color:#320138;
      padding: 3px 8px;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border-right: 1px solid #ccc; 
	  float:left;}
 nav li a:hover {
      color: #4A2261;
      background-color: #BCD0DC; }

