h1{
	color: Navy blue;
	font-family:'Titillium Web', sans-serif;
	padding-left: 100px;
	border-width: 5px;
	border-style:outset;
	border-color:#23033C;
}
p{
font-family:'Josefin Sans', sans-serif;
}
body {
background-color: #F6EDFF;

}
.center {
	margin-left:auto;
	margin-right:auto;
	width: 70%; 
	}
	
}
 h3{font-family: 'Quicksand', sans-serif;
 }

nav ul {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:#B39BCD; 
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}
nav ul li {
    border-right:1px solid #189b80; 
    float:left;
}
nav ul  a {
    display:block;
    padding:0 28px;
    color:#ccece6;
    text-decoration:none;
}
nav ul a:hover,
nav ul li.current a {
    background:#2B0F4A;
}

ul li{font-family:'Josefin Sans', sans-serif;
}

::-webkit-scrollbar-thumb:vertical {
    background:#B39BCD;}
    ::-webkit-scrollbar-thumb:horizontal {
    background:#B39BCD;height:10px;}
    ::-webkit-scrollbar {
    background:#ffffff;height:10px;width:6px;}
	


