h1{
	color: Navy blue;
	font-family: Yanone Kaffeesatz, Titillium Web; 
	padding-left: 100px;
	border-width: 5px;
	border-style:outset;
	border-color:#23033C
}
body {
background-color: #9882A8;
}

li {
    display: inline;
}
li {
    float: left;
}

a {
    display: block;
    width: 60px;
}
li{ padding: 0.2em 1em;
background-color: #C1B6C9
border-right: 1px solid #fff;
}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}